<div class="jumbotron">
    <div class="burgerImg"><img src="/assets/images/burger.png" alt="burgers">
        <h2>Eat-Da-Burger!</h2>
        <div class="container-fluid">
            
            <div class="burger-lists mt-5 d-flex flex-column flex-sm-row justify-content-between">
                
                <div class="undevoured-list list-box my-2 my-sm-0 mr-sm-2">
                    <ul class="list-content" id="not-dev-list">
                        {{#each burgers}}
                            {{#unless devoured}}
                                {{> burgers/burger-block devour=true}}
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>

                <div class"devoured-list list-box my-2 my-sm-0 mr-sm-2">
                    <ul class="list-content" id="dev-list">
                        {{#each burgers}}
                            {{#if devoured}}
                                {{> burgers/burger-block devour=false}}
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>

            </div>

        </div>
        
        <div class="add-burger-section mt-4">
            <form class="create-form">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" id="br" name="burger_name" class="form-control" placeholder="Burger Name" aria-label="Burger Name" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="add-burger-btn" type="submit" id="button-addon2">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>







<h1>Burger Bucket List!</h1>

<h2>Eat these</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>
